#a{background-color: red;}
#b{background-color: green;}
#c{background-color: pink;}

#linha{
background-color: rgb(221, 184, 82);
height: 300px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

#a, #b, #c{
    height: 100px;
}

#a, #c{
    flex-grow: 1;
}

#b{
    flex-grow: 2;
}